@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .input {
    @apply outline-none border px-4 py-2 mb-2 w-1/2 text-xs;
  }
  .button {
    @apply border px-6 py-2 text-xs font-bold text-gray-700;
  }
}
